/* =========================================
   VARIABLES I CONFIGURACIÓ GENERAL
   ========================================= */
:root {
  --marro-fosc: #330B00;
  --taronja-viu: #FF4A1A;
  --blanc: #FFFFFF;
  --teula: #992100;
  --carn-clar: #FFD7CC;
  --blau-electric: #0B4EDB;
  --blau-clar: #CFDDFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn-custom {
  width: 180px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("icones/boto.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease,
              opacity 0.3s ease,
              filter 0.3s ease;
}

.info-icon {
  width: 80px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease,
              opacity 0.3s ease,
              filter 0.3s ease;
}

.info-icon:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.btn-custom,
.wrapper-centrat {
  width: 180px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("icones/boto.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease,
              opacity 0.3s ease,
              filter 0.3s ease;
}

.wrapper-centrat {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--marro-fosc);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--taronja-viu);
}

/* =========================================
   CONTENIDOR GLOBAL
   ========================================= */

:root {
  --marge-lateral: 80px;
  --espai-seccions: 80px;
}

/* =========================================
   MARGES GLOBALS
   ========================================= */

section,
footer {
  padding-left: var(--marge-lateral);
  padding-right: var(--marge-lateral);
}

section {
  padding-top: var(--espai-seccions);
  padding-bottom: var(--espai-seccions);
}

header {
  padding: 30px var(--marge-lateral);
}

/* =========================================
   ESTILS TEXTOS GENERALS
   ========================================= */
h1 {
  color: var(--blanc);
  font-size: 100px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
  text-transform: lowercase !important;
}

h2 {
  color: var(--taronja-viu);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: left;
  line-height: 1.2;
}

sub {
  color: var(--teula);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
  display: block;
  text-align: center;
  line-height: 1.3;
}

label {
  color: var(--teula);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
  letter-spacing: 0.5px;
}

p {
  color: var(--marro-fosc);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.6;
}

p:last-child,
h2:last-child {
  margin-bottom: 0;
}

.date,
figcaption {
  font-size: 16px;
  font-weight: 600;
  color: var(--taronja-viu);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* =========================================
  HEADER I NAVEGACIÓ
   ========================================= */
header {
  background-color: var(--carn-clar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px; 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box; 
}

.logo img {
  max-width: 200px;
  height: auto;
  display: block;
}

.logo a {
  display: block;
  text-decoration: none;
  border: none;
  outline: none;
}

.logo img {
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--marro-fosc);
  transition: color 0.3s ease; 
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list li {
  margin-left: 25px;
}

.nav-list li a.active, 
.nav-list-mobil li a.active {
  color: var(--blau-electric) !important;
  font-weight: 600;
}

.dropdown-idioma:hover .enllac-idioma {
  color: var(--blau-electric);
}

.enllac-idioma {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mini-icona {
  width: 10px;
  margin-left: 6px;
  transition: transform 0.3s;
}

.submenu-idiomes {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--carn-clar);
  list-style: none;
  padding: 10px 0;
  min-width: 80px;
  border-radius: 4px;
}

.submenu-idiomes li a {
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease; 
}

nav ul li a:hover {
  color: var(--blau-electric);
}

.submenu-idiomes li a:hover {
  background-color: transparent;
  color: var(--blau-electric); 
}

.dropdown-idioma:hover .submenu-idiomes {
  display: block;
}

.dropdown-idioma:hover .mini-icona {
  transform: rotate(180deg);
}

.menu-toggle, .nav-mobil {
  display: none;
}

/* =========================================
   ESTRUCTURA ACTUAL
   ========================================= */

.entrevistes-actuals .titol-seccio {
  display: block;
  font-size: 40px;
  color: var(--taronja-viu);
  margin-bottom: 40px;
  text-align: left;
  margin-top: 150px;
}

.entrevistes-actuals .cards-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.entrevista-principal {
  display: flex;
  align-items: flex-start; 
  gap: 50px;
}

.entrevista-principal.reverse {
  flex-direction: row-reverse;
}

.entrevista-principal .contenidor-foto {
  flex: 1;
}

.entrevista-principal .foto-entrevista {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
  object-fit: cover;
}

.entrevista-principal .contingut {
  flex: 1;
  margin-top: -5px;
}

.entrevista-principal h2 {
  color: var(--taronja-viu);
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-transform: none;
}

.entrevista-principal sub {
  color: var(--teula);
  font-size: 22px !important;
  font-weight: 600;
  margin-bottom: 24px;
  display: block;
  text-align: center;
  line-height: 1.3;
}

.entrevista-principal p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--marro-fosc);
  margin-bottom: 20px;
}

.entrevista-principal .enllac-info {
  display: inline-block;
  margin-bottom: 40px;
}

.entrevista-principal .info-icon {
  height: 24px;
}

/* =========================================
   SECCIÓ ENTREVISTES ANTERIORS
  ========================================= */

.entrevistes h2 {
  color: var(--taronja-viu);
  margin-bottom: 40px; 
  font-size: 32px;
  text-align: left;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background: url('entrevistes/grafica.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px; 
  border-radius: 20px;
  text-align: left;
}

.contingut sub {
  display: block;     
  text-align: left;
  width: 100%;
  font-size: 0.8em;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  flex-grow: 1;
}

.contingut p a {
  color: var(--marro-fosc); 
  text-decoration: underline; 
  transition: color 0.3s ease; 
}

.contingut p a:hover {
  color: var(--taronja-viu);
  text-decoration: underline;
}

.card a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s;
}

.card a:hover {
  color: var(--taronja-viu);
  text-decoration: underline;
}

.main-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.card-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  width: 100%;
  margin-top: auto;
}

.social-icons {
  display: flex !important;
  flex-direction: row !important;
  gap: 12px !important;
  align-items: center !important;
  height: 30px !important; 
  overflow: visible !important; 
}

.social-icons a {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-decoration: none !important;
  border: none !important; 
  outline: none !important;
  line-height: 0 !important; 
}

.social-icons img {
  width: 24px !important;
  height: 24px !important;
  max-width: 24px !important;
  max-height: 24px !important;
  object-fit: contain !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  display: block !important;
  transform: none !important; 
}

.date {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--marro-fosc);
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
}

/* =========================================
  PARTICIPA
  ========================================= */

.participa {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.text-participa {
  flex: 0 0 46%;
}

.text-participa p {
  font-size: 17px;
  line-height: 1.45;
  margin-bottom: 35px;
  color: var(--marro-fosc);
  max-width: 760px;
}

.desplegables-container {
  margin-top: 0;
}

details {
  border: none;
  padding: 0;
  margin: 34px 0;
}

summary {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  color: var(--teula);
}

summary::-webkit-details-marker {
  display: none;
}

summary img {
  width: 18px;
  transform: rotate(-90deg);
}

details[open] summary img {
  transform: rotate(0deg);
}

details p {
  padding: 15px 0 0 35px;
  font-size: 16px;
  line-height: 1.5;
}

.formulari {
  flex: 0 0 50%;  
  margin-top: 65px; 
}

.formulari form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.formulari label {
  font-size: 18px;
  font-weight: 500;
  color: var(--teula);
  margin-bottom: 12px;
}

.formulari input,
.formulari textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--marro-fosc);
  border-radius: 10px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 28px;
}

.formulari textarea {
  min-height: 140px;
  resize: none;
}

.formulari .btn-custom {
  margin-top: 15px;
}


/* =========================================
   SPONSORS
   ========================================= */
.sponsors {
  border-top: 1px solid var(--taronja-viu);
}

.sponsors-wrapper {
  overflow: hidden;
}

.logos {
  display: flex;
  gap: 56px;
  width: max-content;

  animation: sponsors-scroll 20s linear infinite;
}

.logos img {
  height: 40px;
}

@keyframes sponsors-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* =========================================
   NEWSLETTER
   ========================================= */
.newsletter {
  display: flex;
  gap: 40px;

  border-top: 1px solid var(--taronja-viu);
}

.newsletter-left {
  flex: 0 0 40%;
}

.newsletter-right {
  flex: 1;
  max-width: 500px;
}

.newsletter-right input {
  width: 174%;
  height: 60px;

  border: 1px solid var(--marro-fosc);
  border-radius: 8px;

  padding: 0 15px;
}

/* =========================================
   FOOTER
   ========================================= */
footer {
  background-color: var(--carn-clar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.footer-left img {
  width: 200px;
  height: auto;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.footer-center p {
  margin: 0;
}

.footer-center a {
  color: var(--marro-fosc);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-center a:hover {
  color: var(--taronja-viu);
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* =========================================
   VERSIÓ TAULETA — 1024px
   ========================================= */

@media screen and (max-width: 1024px) and (min-width: 431px) {

  /* =========================================
     MARGE LATERAL GLOBAL
     ========================================= */

  header,
  section,
  footer,
  .festivalet,
  .festivalet-entrada,
  .festivalet-participants,
  .festivalet-gastronomia,
  .ubicacio-transport,
  .allotjaments-section,
  .faqs-section,
  .newsletter,
  .entrevistes,
  .entrevistes-actuals,
  .participa,
  .sponsors,
  .footer {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-left: 0;
    margin-right: 0;
  }

  /* =========================================
     HEADER TAULETA
     ========================================= */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-left: 40px !important;
    padding-right: 40px !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--carn-clar);
    z-index: 2001;
    box-sizing: border-box;
  }

  .logo img {
    width: clamp(150px, 18vw, 190px);
    max-width: 190px;
    height: auto;
  }

  .nav-list {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(10px, 2vw, 22px);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-list li {
    margin: 0;
  }

  .nav-list li a {
    font-size: clamp(11px, 1.3vw, 13px);
    text-decoration: none;
    color: var(--marro-fosc);
    font-weight: 600;
    text-transform: uppercase;
  }

  .menu-toggle,
  .nav-mobil {
    display: none !important;
  }

  /* =========================================
     ENTREVISTES ACTUALS
     ========================================= */

  .entrevistes-actuals .titol-seccio {
    font-size: 40px;
    line-height: 48px;
    margin-top: 170px;
    margin-bottom: 40px;
  }

  .entrevistes-actuals .cards-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .entrevista-principal {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
  }

  .entrevista-principal.reverse {
    direction: rtl;
  }

  .entrevista-principal.reverse > * {
    direction: ltr;
  }

  .entrevista-principal .contenidor-foto,
  .entrevista-principal .contingut {
    width: 100%;
  }

  /* IMATGE */

  .entrevista-principal .foto-entrevista {
    width: 100%;

    height: clamp(340px, 44vw, 460px);

    object-fit: cover;

    border-radius: 24px;
  }

  .entrevista-principal .contingut {
    margin-top: 0;
  }

  .entrevista-principal h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .entrevista-principal sub {
    font-size: 22px !important;
    line-height: 29px;

    text-align: left;
  }

  .entrevista-principal p {
    font-size: 16px;
    line-height: 26px;
  }

  .entrevista-principal .info-icon {
    width: 80px !important;
    max-width: 80px;
    height: auto;
  }

  /* =========================================
     ENTREVISTES ANTERIORS
     ========================================= */

  .entrevistes {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .entrevistes h2 {
    font-size: 36px;
    line-height: 43px;

    margin-bottom: 35px;
  }

  .entrevistes .cards-container {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-bottom: 25px;
  }

  .entrevistes .cards-container::-webkit-scrollbar {
    display: none;
  }

  .entrevistes .card {
    flex: 0 0 calc(50% - 10px);
    scroll-snap-align: start;
    padding: 24px;
    border-radius: 24px;
  }

  .entrevistes .main-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
  }

  .entrevistes .card p {
    font-size: 14px;
    line-height: 22px;
  }

  /* =========================================
     PARTICIPA
     ========================================= */

  .participa {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
  }

  .text-participa h2 {
    font-size: 36px;
    line-height: 43px;
  }

  .text-participa p,
  details p {
    font-size: 16px;
    line-height: 26px;
  }

  summary {
    font-size: 20px;
    line-height: 26px;
  }

  .formulari form {
    margin-top: 48px;
  }

  .formulari label {
    font-size: 16px;
  }

  .formulari input,
  .formulari textarea {
    font-size: 16px;
  }

  /* =========================================
     SPONSORS
     ========================================= */

  .sponsors {
    padding-top: 40px !important;
    padding-bottom: 30px !important;

    margin-top: 60px !important;
  }

  .logos {
    flex-wrap: wrap;
    justify-content: center;

    gap: 36px;
  }

  .logos img {
    height: 34px;
  }

  /* =========================================
     NEWSLETTER
     ========================================= */

  .newsletter {
    display: flex !important;
    flex-direction: column !important;

    gap: 40px;

    padding-top: 50px;
    padding-bottom: 50px !important;
  }

  .newsletter-left,
  .newsletter-right {
    width: 100%;
    max-width: 100%;
  }

  .newsletter-right {
    margin-top: 0;
  }

  .newsletter-right input {
    width: 100%;
  }

  /* =========================================
     BOTONS
     ========================================= */

  .btn-custom,
  .wrapper-centrat {
    width: 220px;
    height: 65px;
  }

  .btn-custom:hover,
  .wrapper-centrat:hover {
    filter: brightness(1.1);
  }

  .info-icon:hover {
    transform: scale(1.08);
  }
}


/* =========================================
   VERSIÓ MÒBIL
   ========================================= */

@media (max-width: 430px) {

  /* =========================================
     AJUSTOS GENERALS
     ========================================= */

  header,
  section,
  footer {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 100% !important;
    box-sizing: border-box !important;
  }

  section,
  .festivalet,
  .fira,
  .entrevistes,
  .entrevistes-actuals,
  .participa,
  .seccio-on,
  .seccio-arribar,
  .sponsors,
  .newsletter {
    margin-bottom: 50px !important;
  }

  .sponsors,
  .newsletter {
    margin-bottom: 15px !important;
  }

  h1 {
    font-size: 35px;
    word-wrap: break-word;
  }

  h2 {
    font-size: 28px;
    line-height: 1.2;
  }

  p {
    font-size: 16px;
  }

  sub {
    display: block;
    color: var(--teula);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
  }

  label {
    display: block;
    color: var(--teula);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.3px;
    margin-bottom: 6px;
    padding: 0;
  }

  .text-ordinador {
    display: none !important;
  }

  .text-mobil {
    display: block !important;
  }

  .titol-seccio {
    font-size: 22px;
  }

  /* =========================================
     LOGO NAV
     ========================================= */

  .logo img {
    width: 150px;
    max-width: 150px;
  }

  .nav-list {
    display: none !important;
  }

  /* =========================================
     HEADER
     ========================================= */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: fixed;
    background-color: var(--carn-clar);
    z-index: 2001;
  }

  .nav-list {
    display: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 2005;
  }

  .menu-toggle .bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--marro-fosc);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-mobil {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--carn-clar);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.5s ease-in-out,
      opacity 0.3s ease;
    pointer-events: none;
    z-index: 2000;
  }

  .nav-mobil.active {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
    padding: 20px 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .nav-list-mobil {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .nav-list-mobil li a {
    display: block;
    text-decoration: none;
    color: var(--marro-fosc) !important;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .nav-list-mobil li a:hover,
  .nav-list-mobil li a:active {
    color: var(--blau-electric) !important;
  }

  /* =========================================
     ENTREVISTES ACTUALS
     ========================================= */

  .entrevistes-actuals {
    overflow: hidden;
    padding-bottom: 20px;
    margin-top: -80px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .entrevistes-actuals .titol-seccio {
    color: var(--taronja-viu);
    margin-bottom: 20px;
    font-size: 32px;
    text-align: left;
    line-height: 1.2;
  }

  .entrevistes-actuals .cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    scrollbar-width: none;
  }

  .entrevistes-actuals .cards-container::-webkit-scrollbar {
    display: none;
  }

  .entrevistes-actuals .entrevista-principal {
    flex: 0 0 calc(100vw - 40px);
    scroll-snap-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .entrevistes-actuals .entrevista-principal.reverse {
    flex-direction: column;
  }

  .entrevistes-actuals .contenidor-foto,
  .entrevistes-actuals .contingut {
    width: 100%;
  }

  .entrevistes-actuals .foto-entrevista {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  .entrevistes-actuals sub {
    font-size: 18px;
    line-height: 1.25;
    text-align: left;
    color: var(--teula);
    margin-bottom: 8px;
  }

  .entrevistes-actuals h2 {
    font-size: 26px;
    line-height: 1.15;
  }

  .entrevistes-actuals p {
    font-size: 14px;
    line-height: 1.35;
  }

  .entrevistes-actuals .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .entrevistes-actuals .social-icons {
    display: flex;
    gap: 8px;
  }

  .entrevistes-actuals .social-icons img {
    width: 24px;
    height: 24px;
  }

  .entrevistes-actuals::after {
    content: "";
    display: block;
    width: 80px;
    height: 12px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position:
      10px center,
      35px center,
      60px center;

    background-image:
      radial-gradient(circle, var(--taronja-viu) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px);
  }

  /* =========================================
     ENTREVISTES ANTERIORS
     ========================================= */

  .entrevistes {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .entrevistes h2 {
    margin-bottom: 20px;
  }

  .entrevistes .cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    scrollbar-width: none;
  }

  .entrevistes .cards-container::-webkit-scrollbar {
    display: none;
  }

  .entrevistes .card {
    flex: 0 0 calc(100vw - 40px);
    scroll-snap-align: center;
    background-image: url("entrevistes/grafica.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 22px 16px 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .entrevistes .card p {
    font-size: 13.5px;
    line-height: 1.25;
    margin: 0 0 14px;
  }

  .entrevistes .main-img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 16px;
  }

  .entrevistes .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .entrevistes .social-icons {
    display: flex;
    gap: 8px;
  }

  .entrevistes .social-icons img {
    width: 24px;
    height: 24px;
  }

  /* =========================================
     + INFO MES GRAN
     ========================================= */

  .info-icon,
  .entrevistes .info-icon,
  .entrevistes-actuals .info-icon {
    width: 90px !important;
    max-width: 90px;
    height: auto;
    display: block;
    border: none !important;
    background: transparent !important;
    transition:
      filter 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  /* =========================================
     PUNTS SLIDER
     ========================================= */

  .entrevistes::after {
    content: "";
    display: block;
    width: 80px;
    height: 12px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position:
      10px center,
      35px center,
      60px center;
    background-image:
      radial-gradient(circle, var(--taronja-viu) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px);
  }

  /* =========================================
     ESTATS PUNTS
     ========================================= */

  .entrevistes-actuals.punts-1::after,
  .entrevistes.punts-1::after {
    background-image:
      radial-gradient(circle, var(--taronja-viu) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px);
  }

  .entrevistes-actuals.punts-2::after,
  .entrevistes.punts-2::after {
    background-image:
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px),
      radial-gradient(circle, var(--taronja-viu) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px);
  }

  .entrevistes-actuals.punts-3::after,
  .entrevistes.punts-3::after {
    background-image:
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px),
      radial-gradient(circle, var(--carn-clar) 5px, transparent 6px),
      radial-gradient(circle, var(--taronja-viu) 5px, transparent 6px);
  }

  /* =========================================
     PARTICIPA
     ========================================= */

  .participa {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px;
    margin-bottom: 10px !important;
  }

  .participa > * {
    width: 100%;
  }

  .formulari {
    margin-top: -15px;
  }

  .formulari form {
    margin-top: 0;
  }

  .formulari select,
  .formulari input,
  .formulari textarea {
    margin-top: 10px;
  }

  /* =========================================
     SPONSORS
     ========================================= */

  .sponsors {
    padding-top: 25px !important;
    padding-bottom: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .logos img {
    height: 28px;
    width: auto;
    object-fit: contain;
  }

  /* =========================================
     NEWSLETTER
     ========================================= */

  .newsletter {
    display: flex !important;
    flex-direction: column !important;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 0 !important;
    margin-bottom: 30px !important;
  }

  .newsletter-left,
  .newsletter-right {
    width: 100%;
    max-width: 100%;
  }

  .newsletter-right {
    margin-top: 0;
  }

  .newsletter-form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .newsletter-right input {
    width: 100%;
    height: 60px;
    border: 1px solid var(--marro-fosc);
  }

  .veure {
    width: 100%;
    min-width: unset;
    text-align: center;
  }

  .btn-custom {
    width: 220px !important;
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  /* =========================================
     FOOTER
     ========================================= */

  footer {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .footer-left img {
    margin: 0 auto;
    width: 150px;
  }

  .footer-center,
  .footer-right {
    align-items: center;
  }
}